<form action='./mkfile' method='post'>
	<div>
		<p>Filename: </p>
		<input name='filename' type='text' >
	</div>
	<div>
		<p>File content</p>
		<textarea name='content' style='width: 30%;resize: none;height: 50%'>content</textarea>
	</div>
	<div>
		<input type='submit' value='send'>
	</div>
</form>
